<!DOCTYPE html>
<html lang="en">

<head>
  {{>headerlinks}}
</head>

<body>
  {{>navbar}}
  <!-- main header -->

  <div class="conatiner-fluid main_header">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
            <div class="col-md-12 col-12 main_header_left align-items-center " >
                <figure class="errimg">
                    <img src="images/404.jpg" alt="sajid" class="img-fluid" title="sajid technical" >
                </figure>
                        
           <p>please visit again</p>
            <h1>{{errormsg}}</h1>
            <!-- <a href="https://www.thapatechnical.com/4" target="_sajid"><button>About me</button></a> -->
            <a href="/"  title="linkedin"><button>Go Back</button></a>
           </div>
           <!-- right side div -->
           
        </div>
      </div>
    </div>
  </div>
   <!-- footer code -->
   {{>footer}}
</body>
</html>