<!DOCTYPE html>
<html lang="en">

<head>
  {{>headerlinks}}
</head>

<body>
  {{>navbar}}
  <!-- main header -->

  <div class="conatiner-fluid main_header">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
            <div class="col-md-6 col-12 main_header_right align-items: center " >
                <figure>
                    <img src="images/about.jpg" alt="sajid" class="img-fluid" title="sajid technical" >
                </figure>
               </div>
          <!-- left side header -->
           <div class="col-md-6 col-12 main_header_left">
            <p>Welcome to Weather app</p>
            <h1>My name Is <span class="text_color">Mohammed Sajid</span></h1>
            <h1>I Am A<span class="text_color" >Mern Stack Developer</span> And A Freelancer</h1>
            <!-- <a href="https://www.thapatechnical.com/4" target="_sajid"><button>About me</button></a> -->
            <a href="https://www.linkedin.com/in/sajid-ali-2b0146214" target="_sajid" title="linkedin"><button>About me</button></a>
           </div>
           <!-- right side div -->
           
        </div>
      </div>
    </div>
  </div>
   <!-- footer code -->
   {{>footer}}
</body>
</html>